<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_time, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_time, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :min_volunteers, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :min_volunteers, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :max_volunteers, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :max_volunteers, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :scheduled_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scheduled_text, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_to_send_message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_to_send_message, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default' %>
 
<% end %>
