<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= link_to "Volunteer!", event_users_path(event_id: @event.id),
    :method => 'post',
    :class => 'btn btn-primary btn-lg' %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @event.user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @event.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @event.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time) %>:</strong></dt>
  <dd><%= @event.end_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:min_volunteers) %>:</strong></dt>
  <dd><%= @event.min_volunteers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_volunteers) %>:</strong></dt>
  <dd><%= @event.max_volunteers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheduled_text) %>:</strong></dt>
  <dd><%= @event.scheduled_text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_to_send_message) %>:</strong></dt>
  <dd><%= @event.time_to_send_message %></dd>
  <dt><strong>Volunteers:</strong></dt>
  <dd><%= @event.volunteers.map {|u| u.email } %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
